@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #30343A;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input {
  outline: none;
}

.animation-bounce-in-right {
  animation: bounce-in-out 3s forwards ease-in-out ;
}

@keyframes bounce-in-out {
  0% {
      transform: translateX(130%);
  }
  10% {
      transform: translateX(0);
  }
  90% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(200%);
  }
}